extends layout

block content
  section#account
    a(href="/logout") Logout
  header
    h1= title
    p.lead Howdy, #{user.name}!
  section#chats
    div.panel.panel-chats.list-group
      div.panel-heading My Chats
       each chat, i in user.chats  
         a.list-group-item(href="/chats/#{chat}") Chat ##{i+1}
    a(href="/new-chat") Create new chat 