extends layout

block content
  a(href="/logout") Logout
  h1= title
  p.lead Howdy, #{user.name}!
  ul
    each chat, i in user.chats  
      li
        a(href="/chats/#{chat}") Chat ##{i+1}
  a(href="/new-chat") Create new chat 