extends layout

block content
  section.two-buttons#account
    a(href="/chats") Chats 
    a(href="/logout") Logout
  header
    input#title.titleeditor(value="#{title}", spellcheck="false")
    p.lead Share this chat: 
      script { document.write(location.href); }
  section#chat
    .chat
    #chatbox
    .sendbar
      input.sendbox(type="text", required="required")
      button.sendbutton(disabled="true") Send
  script(src="/js/underscore.js")
  script(src="/js/backbone.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/app.js")
  script.
    window.socket = io.connect()
    window.chat = new ChatView(!{user}, !{chat})