footer
  .container
    | Created with 
    span(style="color:red") ♥ 
    | by 
    a.twitter-link(href="http://twitter.com/aviromanoff") @aviromanoff 
    | + 
    a.twitter-link(href="http://twitter.com/lablayers") @lablayers 
    | at  
    a.pp-color(href="http://philly.gopilot.org") PilotPhilly
    |  2013