extends layout

block content
  .cta
    .jumbotron
      h1=title
      p.lead.text-success Prepare to have your mind blown.
      p Join a room:
        form(name="input", action="app", method="get")
          | Room:
          input(type="text", name="room")

          input.btn.btn-lg.btn-success(type="submit", value="Submit")