extends layout

block content
  br(style="clearfix:both")
  .lead.intro-text Hackable collaboration.
  section#login
    form(method="post")
      div.panel.panel-default.panel-name
        div.panel-heading HELLO
          small my name is
        div.panel-body
          input#namebox(type="text", name="name", placeholder="Name", required)
      input.go(type="submit", value="Blow my mind")  