extends layout

block content
  .cta
    //- .jumbotron
    //-   h1=title
    //-   p.lead.text-success Prepare to have your mind blown.
    //-   p
    //-     a.btn.btn-default.btn-lg.cta-buttons(href="/up") Sign Up
    //-     a.btn.btn-success.btn-lg.cta-buttons(href="/in") Log In
  #chatbox
  input.sendbox#thebox(type="text")
  script(src="/socket.io/socket.io.js")
  script(src="/js/underscore.js")
  script(src="/js/backbone.js")
  script(src="/js/app.js")
  script.
    window.socket = io.connect()

    //- window.groups = new Groups(!{groups_bootstrap});

    window.app = new AppView()
    
    Backbone.history.start()