doctype 5
html
  head
    title= title
    link(rel="shortcut icon" href="/img/favicon.png")
    link(href='http://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/codemirror/3.14.0/codemirror.css')
    link(rel='stylesheet', href='/css/monokai.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/ionicons.css')
    meta(name="viewport" content="width=device-width, user-scalable=no")
  body
    .container(style="text-align: center")
      script(src="/js/jquery.js")
      script(src="/js/ZeroClipboard.js")
      script(src="//cdn.jsdelivr.net/codemirror/3.14.0/codemirror.js")
      script(src="/js/javascript_derp.js")
      script(src="/js/async.js")
      script(src="/js/moment.js")
      script(src="/js/bootstrap.js")
      script(src="/js/javascript.js")
      section#header-block
        h1= title
        img.logo-img(src="/img/logo_white.png")
      block content
    include footer