doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    //- link(rel='stylesheet', href='/css/bootstrap-slate.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')=title
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
          .nav-collapse 

    .container
      block content
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.min.js")
    include footer
    
  script(type="text/javascript")
    // Single-page routing + template inheritance == sadface?
    var path = location.pathname;
    if (path.indexOf("/app") != -1) {
      path = "/";
    }
    var link = $("a[href='" + path + "']");
    link.parent().addClass('active');