doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/ionicons.css')
  body
    .container(style="text-align: center")
      script(src="/js/jquery.js")
      script(src="/js/moment.js")
      script(src="/js/bootstrap.js")
      script(src="/js/javascript.js")
      block content
    include footer