/*PilotPhilly color: FC853A*/

body {
  padding-top: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: #1;*/
}

.cta {
  text-align: center;
}

a:hover {
  text-decoration: none
}

.cta-buttons {
  margin-left: 20px;
  font-size: 25px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

#chatbox {
  background: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 500px;
  height: 300px;
  margin: auto;
}

.sendbox {
  background: green;
  width: 500px;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: 0;
  border: 0;
  padding-left: 5px;
  font-size: 16px;
  color: white;
  display: block;
}



.footer {
  margin-top: 100px;
  text-align: center;
}

.pp-color {
  color: #FC853A;
}