/*PilotPhilly color: FC853A*/
html {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: #1;*/
  height: 100%;
  width: 100%;
}

input { outline: none; }

.cta {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a {
  color: orange;
}

.cta-buttons {
  margin-left: 20px;
  font-size: 25px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

#chat {
    max-width: 650px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 12px black;
}

#chatbox {
  background-image: url(https://c776950.ssl.cf2.rackcdn.com/assets/bg-noise-bar-fbf1d156b211fad69d3446b12190b4d6.png);
  background: #fff;
  border-top-left-radius: @borderRadius;
  border-top-right-radius: @borderRadius;
  width: 650px;
  min-height: 150px;
  padding: 10px;
  height: auto;
  margin: auto;
  color: black;
  text-align: left;
  br:first-child {
    display: none;
  }
}

.sendbox {
  background-image: url(https://c776950.ssl.cf2.rackcdn.com/assets/bg-noise-bar-fbf1d156b211fad69d3446b12190b4d6.png);
  border-top: 1px solid gray;
  background: #bbb;
  width: 650px;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: 0;
  border: 0;
  padding: 5px;
  font-size: 16px;
  color: ;
  display: block;
  margin: auto;
}

.footer {
  margin-top: 150px;
  text-align: center;
  text-size: 14px;
}

.pp-color {
  color: #FC853A;
}

body {
    background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_matter.png);
    font-family: Proxima, 'Proxima Nova', Arial;
}

h1 {
    font-family: Proxima, 'Proxima Nova', Arial;
    font-weight: bold;
    font-size: 56px;
}

h1, p.lead {
    animation: bounceDown .5s 0s ease both;
    transform-origin: top left;
    -webkit-animation: bounceDown .5s 0s ease both;
    -webkit-transform-origin: top left;
}

/* homepage */

.panel {
    user-select: none;
    animation: googlenow1 .7s .2s ease both;
    transform-origin: top left;
    -webkit-animation: googlenow1 .4s .2s ease both;
    -webkit-transform-origin: top left;
}

div.panel-name.panel {
  max-width: 350px;
  margin: auto;
  background: white;
  border: 1px solid black;
  overflow: hidden;
  border-radius: @borderRadius;
  .darkBoxShadow;
  .panel-heading {
    background-color: #C0392B;
    color: white;
    font-size: 40px;
    box-shadow: rgba(255,255,255,0.7) 0px 2px 0px inset;
    small {
      display: block;
      letter-spacing: 1px;
      font-size: 20px;
    }
  }
  .panel-body {
    padding: 0px;
    #namebox {
      display: block;
      width: 100%;
      font-size: 50px;
      padding: 16px;
      font-family: Proxima, 'Proxima Nova', Arial;
      box-shadow: inset 0 0 2px rgba(0,0,0,.5);
      border: none;
      text-align: center;
    }
  }
}

@borderRadius: 10px;
.darkBgShadow { text-shadow: 0 0 8px black; }
.darkBoxShadow { box-shadow: 0 2px 20px black; }
p.lead, h1, footer { .darkBgShadow; }

.btn-fancy {
      box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset, 0 2px 20px black;
}
.btn-fancy:hover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3))!important;
}
.btn-fancy:active {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5))!important;
}

.go { .btn; .btn-success; .btn-block; .btn-fancy; .btn-lg; .darkBoxShadow;
  margin: auto;
  border-radius: @borderRadius;
  margin-top: 30px;
  width: 350px;
  display: block;
  max-width: 100%;
  border-radius: 10px;
  font-size: 28px;
  animation: fade .6s .6s ease both;
  transform-origin: center;
  -webkit-animation: fade .6s .6s ease both;
  -webkit-transform-origin: top left;
  transition: all .25s;
}

.go:hover { box-shadow: 0 2px 20px #a4a445; }

/* account */

section#account { .btn-group; margin: auto; position: absolute; right: 12px; top: 12px; z-index: 9001;
  a { .btn; .btn-lg; .btn-primary; .btn-fancy; }
}

section#account.two-buttons {
  a { border-radius: 0px; }
  a:last-child { border-top-right-radius: @borderRadius; border-bottom-right-radius: @borderRadius;}
  a:first-child { border-top-left-radius: @borderRadius; border-bottom-left-radius: @borderRadius;}
}

/* homepage */
div.panel-chats {
  max-width: 350px;
  margin: auto;
  background: white;
  border: 1px solid black;
  overflow: hidden;
  border-radius: @borderRadius;
  .darkBoxShadow;
  .panel-heading {
    background-color: #2980b9;
    color: white;
    font-size: 40px;
    box-shadow: rgba(255,255,255,0.7) 0px 2px 0px inset;
    small {
      display: block;
      letter-spacing: 1px;
      font-size: 20px;
    }
  }
  .panel-body {
    padding: 0px;
    #namebox {
      display: block;
      width: 100%;
      font-size: 50px;
      padding: 16px;
      font-family: Proxima, 'Proxima Nova', Arial;
      box-shadow: inset 0 0 2px rgba(0,0,0,.5);
      border: none;
      text-align: center;
    }
  }
}

#chats .panel-heading {
  line-height: 2em;
  padding: 0px 15px 15px 15px;
  .list-group-item:first-child {
      border-top-left-radius: @borderRadius;
      border-top-right-radius: @borderRadius;
  }
  .list-group-item {
      line-height: 1em;
  }
  .list-group-item:last-child {
      border-bottom-left-radius: @borderRadius;
      bottom-bottom-right-radius: @borderRadius;
  }
  small {
      display: block;
      line-height: 1em;
      font-size: 12px;
      opacity: .7;
      padding: 8px 0px;
  }
}

/* chat box */

#chatbox {
    font-size: 18px;
    overflow-x: auto;
    max-height: 600px;
}

/* footer */

div.footer, footer {
    animation: fade .25s 1s ease both;
    transform-origin: center;
    -webkit-animation: fade .25s 1s ease both;
    -webkit-transform-origin: center;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    margin-top: 20px
}

.twitter-link {
  color: #55acee;
}

.timestamp {
  color: gray;
  float: right;
  font-size: 14px;
}

.userstamp {
  font-weight: bold;
}