/*PilotPhilly color: FC853A*/

body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.cta {
  text-align: center;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

.pp-color {
  color: #FC853A;
}